body {
  width:100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2417c
  
}
.landing-page{
  width:100%;

}
#bg{
  height: 100vh;
  object-fit: contain;
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
  background: #f2417c;
}
.logo{
  width: 50vw;
 display:flex;
 padding-top:5%;
 padding-bottom: 1%;
  top:0;
  left: 0;
  margin: 0 auto;
}

#root{
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  
}
.landing-page {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.desc{
  /* text-align: center; */
  font-size: 100%;
  color: white;
}
.dashboard {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
a{
  display: block;
  color: white;
  text-decoration: none;

}
.black-button{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.05em;
  border: 1px solid #5d83da;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  background-color: #00cdff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(53, 53, 53, 0.17);
  text-align: center;
  position: relative
}
.black-button:active{
  top: 0.1em;
}
.close-button{
  color: white;
  font-size: 60%;
  padding:10px;
}
.fa-window-close{
  color: black;
}
.addActivity{  
  width: 50%;
  margin: 0 auto;
  padding: 10px;

}
.publiclist{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.loginpage{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.signuppage{
  width: 50%;
  margin: 0 auto;
  padding: 10px;
text-align: center;
}
.info{
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
 
}
.userlist{
  width: 90%;
  margin: 0 auto;
}
.userlistcontainer{
  width: 90%;
  overflow: auto;
}
.publiclistcontainer{
  width: 90%;
  overflow: auto;
}
.sign-up-Div{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
text-align: center;
}
input{
  border-radius: 2px;
  border: 2px solid black;
  outline: none;
  width:25%;
}
input [type=text] {
  font-weight: bold !important;
  outline: none;
  border: 2px solid black;
  width: 25%;
}
.sign-up-form input:focus{
  outline: none !important;
  border:2px solid #b1f63a;
}
.sign-up-form textarea:focus, input:focus {
  color: #b1f63a;
  font-weight: bold;
}

.login-form input:focus{
  outline: none !important;
  border:2px solid #b1f63a;
}
.login-form textarea:focus, input:focus {
  color: #b1f63a;
  font-weight: bold;
}
.addActivity{
  text-align: center;
}
.addActivityForm{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
.addActivityForm input:focus{
outline: none !important;
border:2px solid #b1f63a;
}
.addActivityForm textarea:focus, input:focus {
  color: #00cdff;
  font-weight: bold;
}

.addActivityForm textarea:focus{
  outline: none !important;
  border:2px solid #b1f63a
  }
  .addActivity textarea:focus, input:focus {
    color: #00cdff;
    font-weight: bold;
  }
.editActivityForm {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.editActivityForm textarea:focus, input:focus{
padding: 1px;
outline: none;
color: #00cdff;
font-weight: bold;
}
select{
  outline: none;
  background: black;
  color: white;
  font-weight: bold;
  border: 2px solid black
}
select option{
  background-color: white;
  color: black
}

textarea{
  border: 2px solid black
}
.banner{
  display: flex;
  padding:5px;
  justify-content: center;
}
.banner img{
  width: 35%;
  height: 35%;
}
.header{
width: 90%;
display:flex;
justify-content: space-between;
padding: 01em;
font-size:200%;

}
.footer{
  position: fixed;
  bottom:0;
  right: 0;
  margin: 20px;
}
.listtitle{
  color: white;
  font-weight: 500;
  font-size: 150%;
}
label{
  display:block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  border: 1px solid black;
  margin: 15px;
  background-color: black;
  padding-left: 5px;
  padding:10px;
  width: 75%;
  color: white;
}
@media only screen and (min-width: 436px) {
  
  html {
    font-family: 'Oswald', sans-serif;
}
}
dt {
  font-weight: bold;
}

dl,
dd {
  font-size: .9rem;
}

dd {
  width: 60%;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 1em;
  background-color: black;
  color: white;
}
button{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.05em;
  border: 1px solid #5d83da;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
  background-color: #00cdff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(53, 53, 53, 0.17);
  text-align: center;
  position: relative
}